ascii_magic
autoflake
autopep8
black
blosc2
bs4
compression_prompt
cv2
dotenv
ffmpeg
git
github
google
googleapiclient
googlesearch
huffman
imagehash
imutils
isort
jmespath
jsbeautifier
keyboard
magic
markdownlify
moviepy
nbformat
nude
pandas
pdf2image
pdfplumber
pil
pillow_heif
pkg_resources
pypdf
pypdf2
pyppeteer
rcssmin
rjsmin
tree_sitter_bash
tree_sitter_languages
watchfiles
yapf